* {
    margin: 0;
    padding: 0;
}

.body {
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.top {
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
  position: relative;
}
.logo {
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 1;
}

.hamburger{
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu > li {
    padding-right: 30px;
}

 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.mainbox {
    height: 515px;
    /* width: 100%; */
    width: 1035px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    /* display: flex;
    justify-content: center;
    z-index: 0; */
}
.img-wrap {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    vertical-align: bottom;
}
.img-wrap picture {
    width: 100%;
    position: absolute;
}
.img-wrap picture img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.main-img {
    display: flex;
    justify-content: center;
}
.slider_sp {
  display: none;
}
.main-text {
    position: absolute;
    right: -11px;
    bottom: 51px;
}
.comment-box {
  margin-top: 15px 0;
}
.comment-box > p {
  font-size: 32px;
}
.comment-box > p > br {
    display: none;
}

h2 {
    /* margin-top: 100px;
    margin-bottom: 100px; */
    margin-top: 60px;
    padding-bottom: 50px;
    font-size: 40px;
    text-align: center; 
}

.post-blogBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-blogs__meta {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.post-blogs__meta > li {
    height: 400px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.gallery1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
}

/* ブログのhover */
.post-blog__meta__item {
  width: 320px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.post-blog__meta__item:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.subtitle {
    margin-bottom: 80px;
}
/* ReadMoreの略したdivBOXです */
.rm {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
} 
/* ReadMoreの下の線が動く */
.underline {
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
  }
  
  .underline::after {
    background-color:#c0c0c0;
    bottom: -5px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: .5s all;
    width: 10px;
  }
  
  .underline:hover::after {
    width: 100%;
  } 

/* もっと見るボタン用 */
.more_btn {

}

footer {
    width: 100vw;
    height: 128px;
    bottom: 0;
    margin-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}


@media screen and (max-width:767px){
    
    .top {
        /* height: 40vh; */
        height: 280px;
        display: flex;
        justify-content: center;
    }

    .logo {
        margin: 31px auto;
        position: initial;
        height: 219px;
    }

/* バーガーのチェックボックスとiconを関連づけしている*/
.btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    cursor: pointer;
    /* background-color: blue; */
  }
  /* バーガー三本線*/
  .icon, .icon::before, .icon::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 15px;
    background-color: black;
    display: block;
    content: '';
    transition: all 0.2s;
  }
  .icon::before {
    top: -10px; /*三本線の間隔*/
  }
  .icon::after {
    top: 10px;
  }
  .hamburger {
      display: none;
  }

  .hamburger:checked ~ .btn .icon {
    background: transparent;
  }
  .hamburger:checked ~ .btn .icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .hamburger:checked ~ .btn .icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger:checked ~ .nav {
    display: none;
  } 
  .menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center ;
    align-items: center;
  }

  /* ハンバーガの中のメニューバー*/
  .menu-content {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 260px;
    z-index: 2;
    background-color: white;
    opacity: 0.95;
    transition: all 0.3s;
  }
  
  .menu{
    flex-direction: column;
    list-style: none;
  }
  .menu-item {
      margin-top: 20px;
      margin-bottom: 50px;
  }
  
  .hamburger:checked ~ .menu-content {
    display: block;
    right: 0;
  }
    /* ここまでハンバーガーメニュー */
  .comment-box {
      width: 100%;
      margin-top: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .comment-box > p {
        width: 416px;
        /* height: 165px; */
        padding-top: 28px;
        font-size: 21.34px;
        text-align: center;
        vertical-align: middle; 
    }

    .comment-box > p > br {
        display: block;
    }

    /* main */
    .mainbox {
        height: 262.5px;
        width: 100vw;
        display: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .main-img > img {
        width: 100vw;
    }
    .slider_pc {
      display: none;
    }
    .slider_sp {
      display: block;
      height: 100%;

    }
    .main-text {
        height: 262.5px;
        width: 138.41px;
        position: absolute;
        top: 32px; 
        left: 32px;
    } 
    .main-text > img {
        width: 70vw;
    }

    

    /* Latest Artices */
    h2 {
      font-size: 40px;
      padding-top: 60px;
      padding-bottom: 50px;
      margin: 0;
    }

    /* footer */
    footer {
      height: 128px;
      margin-top: 59px;
    }
}
