.top {
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: absolute;
    left: 60px;
    top: 15px;
    z-index: 1;
}
.hamburger-button {
    display: none;
}
/* .hamburger-nav {
    display: none; 
}  */
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    

}
.nav > li {
    padding-right: 30px;
}
.mainbox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.main-text {
    position: absolute;
    right: 60px;
    bottom: -49px;
}

h2 {
   text-align: center; 
}

.blogs {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

@media screen and (max-width:767px){
    .top {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-right {
        display: none;
    }
    .hamburger-button {
        display: flex;
      }

}